.form {
    display: flex;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

.label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }